<!DOCTYPE html>
<html>
<head>
  <style>
  h1 {
    font-size: 24;
  }
  body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18;
  }
  </style>
  <title>Battleships</title>
</head>

  <body>
  <h1>Battleships!!!!!<h1>
  <%= yield %>
  </body>

</html>


